# Server settings
CLIENT_URL=https://comfy-raindrop-53d9c6.netlify.app
JWT_SECRET=Z3h8vPq9rT!eLw7@bKx2#fJm6$uQdYcA
COOKIE_NAME=animorex_session

# Discord OAuth
DISCORD_CLIENT_ID=1417815663099117739
DISCORD_CLIENT_SECRET=RNbzfgEL6bDVsa26sgIps_6XkCZTLyYk
DISCORD_REDIRECT_URI=https://animorex-auth.onrender.com/api/auth/discord/callback

# Google OAuth
GOOGLE_CLIENT_ID=649695347718-87h6c1fv6bq6rvmkcb520n5vqam88htn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://animorex-auth.onrender.com/api/auth/google/callback
